* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  padding-bottom: 5rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 2.1rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.12em;
}

p {
  font-size: 1.6rem;
  font-family: "Lora", serif;
  line-height: 1.672;
}

p.intro-msg {
  font-size: 1.9rem;
}

p.project-intro {
  font-size: 1.9rem;
}

/* sizing and centering images on home screen */
#portfolio-logo, #project-event-drawer {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

section {
  background-color: white;
  color: #000;
  margin-top: 1rem;
  padding: 6rem 1rem;
}

.hero-event-drawer-roles {
  background-color: #DCDADA;
}

ol {
  font-size: 1.6rem;
  list-style-type: decimal;
  line-height: 1.672;
}

ol.big-list {
  font-size: 2rem;
  margin-top: 2rem;
}

.top-nav-logo {
  display: inline;
}

.nav-link {
  display: inline;
  float: right;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .12em;
  padding-top: 3.6rem;
}

/* default container format (mobile) uses percentage width */
.container {
  background-color: white;
  margin: auto;
  width: 83%;
}

/* media query customizes container width for tablet size */
@media screen and (min-width: 768px) {
  .container {
    width: 70rem;
  }
  #project-event-drawer {
    width: 68%;
  }
  #portfolio-logo {
    width: 50%;
  }
}

/* media query customizes container width for desktop/laptop */
@media screen and (min-width: 1000px) {
  .container {
    width: 98rem;
  }
  #project-event-drawer {
    width: 45%;
  }
  #portfolio-logo {
    width: 30%;
  }
}
